/* The Escaped */

$color0: rgb(0,111,153); /* Blue */
$color1: rgb(77,77,83); /* Grey */
$color2: rgb(200,200,200); /*Light Grey */
$black: rgb(0,0,0);
$white: rgb(255,255,255);
$total-width: 960px;
$content-width: 780px;
$border: 1px;
$topics-height: 38px;
$search-height: 50px;
$categories: 7;
$main-font: Droid Sans;
$font-for-the-rest: helvetica;
$page-height: 100%;
$content-margin: 15px;
@mixin social($x, $y){
    background: url(../images/gui.png) $x $y no-repeat;
};

@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body{
    height: 100%;
    text-align: center;
    font-family: $main-font, $font-for-the-rest;
    margin-top: 0;
}

#container{
    width: $total-width;
    height: $page-height;
    position: relative;
    margin: auto;
}

#menu{
    width: $total-width - $content-width;
    height: $page-height;
    float: left;
    display: inline-block;
    ul{
        margin: 50px 0 0 0;
        padding: 0;
        li{
            color: $color1;
            list-style: none;
            font: {
                size: 20px;
            }
        }
        #about, #contact{
            cursor: pointer;
        }
        .summary{
            height:25px;
            overflow: hidden;
        }
        .full_view{
            height:100%;
            margin: 0 10px 10px 10px;
        }
        .summary, .full_view{
            .menu_text{
                    font-size: 14px;
                    text-align: justify;
                    margin: 0;
                    padding: 0;
            }
        }
    }
}

#topicsmenu{
    width: $total-width;
    position: fixed;
    top: 0;
    background-color: $color0;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    z-index:99;
    .current{
        font-weight: bold;
    }
    ul{    
        margin: 0 0 0 180px;
        padding: 0;
        li{
            a:link,a:active,a:visited{
                text-decoration:none;
                color: $white;
                font: {
                    size: 15px;
                }
            }         
            height: $topics-height - 9px;
            padding: 9px 15px 0 15px;
            float: left;
            list-style: none;
            text-align: center;
        }
    }
    #logo{
        height: 38px;
        width: 180px;
        background-image: url(../images/logo.png);
        float: left;
        z-index: 100;
    }
    #search{
        width: ($content-width/$categories)*2;
        float: right;
        padding-top: 6px;
        .text{
            height: 24px;
            width: 150px;
            border: 1px solid $color2;
            color: $color1;
            padding: 0;
            float: right;
        }
    }
}

#articles_container{
        width: $content-width - 2*$border;
        display: inline-block;
        float: left;
        overflow-y: hidden;
        overflow-x: hidden;
        height: $page-height;
        list-style: none;
        border-top: 2px solid $color2;
        margin-top: $topics-height;
        padding: 0;
        .article_wrapper{
            margin-bottom: $content-margin;
            border-top: 1px solid $color2;
            text-align: left;
            padding: 10px;
            .social_links{
                float: right;
                ul{
                    margin: 0;
                    padding: 0;
                    li{
                        float:left;
                        list-style: none;
                        height: 20px;
                        width: 20px;
                    }
                    .facebook{
                        @include social(0,0);
                    }
                    .facebook:hover{
                        @include social(0,-19px);
                    }
                    .twitter{
                        @include social(-21px,0);
                    }
                    .twitter:hover{
                        @include social(-21px,-19px);
                    }
                    .linkedin{
                        @include social(-44px,0);
                    }
                    .linkedin:hover{
                        @include social(-44px,-19px);
                    }
                    .stumbleupon{
                        @include social(-66px,0);
                    }
                    .stumbleupon:hover{
                        @include social(-66px,-19px);
                    }
                    .digg{
                        @include social (-88px,0);
                    }
                    .digg:hover{
                        @include social (-88px,-19px);
                    }
                }
            }
            .article_title{
                color: $color0;
                text-transform: uppercase;
                display: block;
                margin: 20px 0 0 0;
                font:{
                    size: 25px;
                    weight: bold;
                }
                
            }
            #authors{
                a:link,a:active,a:visited{
                    text-decoration:none;
                    color: $color1;
                    font: {
                        size: 15px;
                    }
                }
                a:hover{
                        color: $black;
                        cursor: pointer;
                }
                img{
                    height: 40px;
                    width: 40px;
                    margin-right: 10px;
                    float: left;
                }
                font:{
                    size: 12px;
                }
            }
            #ad_authors{
                @extend #authors
            }
            .ad{
                color: $color0;
                font:{
                    size: 20px;
                }
                margin: 20px 0 0 0;
                a:link,a:active,a:visited{
                    text-decoration: underline;
                    color: $color0;
                    font: {
                        size: 20px;
                    }
                }
            }
        }
        .summary{
            width: $content-width -5px;
            height:250px;
            overflow: hidden;
            padding-right: 5px;
            text-align: justify;
            line-height: 18px;
            font:{
                size: 14px;
            }
        }
        .full_view{
            height:100%;
            width: $content-width -5px;
            padding-right: 5px;
            text-align: justify;
            line-height: 18px;
            font:{
                size: 14px;
            }
        }
        .button{
            height: 20px;
            background: url('../images/expand.jpg') no-repeat center;
            cursor: pointer;
            padding-top: 10px;
        }
        .collapse{
            background: url('../images/collapse.jpg') no-repeat center;
        }
        #load_more{
            width: $content-width;
            padding: 5px;
            text-align: center;
            color: $white;
            background-color: $color0;
            border: 1px solid $color2;
            margin-top: 10px;
            cursor: pointer;
        }
}
